{% extends "home.html" %}

{% block title %}{% endblock %}
{% block menu %}
    <li ><a href="{% url 'home' %}">店長</a></li>
    <li ><a href="{% url 'customer' %}">消費者</a></li>
    <li class="current_page_item"><a href="{% url 'reference' %}">Reference</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
<pre>

    
</pre>
    <div id = "test">
        <p >
            1.  The Construction of a Chinese Named Entity Tagged Corpus: CNEC1.0
        </p>
        
        <p>
            2. BERT: Pre-training of Deep Bidirectional Transformers for Language Understanding
        </p>
        <p>
                3. <a href=https://github.com/BrikerMan/Kashgari>https://github.com/BrikerMan/Kashgari</a>	
        </p>
    </div>

<pre>

    
 </pre>
    
{% endblock %}